* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start header */
.header {
  width: 100%;
  height: 120px;
  padding: 50px 350px;
  position: relative;
}
.header h1 {
  font-size: 50px;
}
.header ul {
  display: flex;
  list-style: none;
  position: absolute;
  right: 600px;
  top: 50px;
}
.header ul li {
  margin: 15px;
  font-size: 18px;
  transition: all 0.5s;
}
.header li:hover {
  animation: upToDown 0.5s;
  color: #f55f8d;
  cursor: pointer;
}
.header i {
  font-size: 10px;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.header button {
  background-color: #ff5acd;
  background-image: linear-gradient(45deg, #ff5acd 0%, #fbda61 100%);
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid white;
  position: absolute;
  right: 350px;
  top: 50px;
  color: white;
  cursor: pointer;
}
/* end header */
/* start container */
.container {
  width: 100%;
  height: 600px;
  padding-top: 60px;
}
.item_container {
  display: flex;
  width: 100%;
  position: relative;
}
.title_container {
  position: absolute;
  left: 350px;
  top: 100px;
}
.title_container1 {
  position: absolute;
  right: 200px;
}
.title_container h5 {
  color: #f55f8d;
  font-size: 28px;
}
.title_container h1 {
  font-size: 75px;
  margin-top: 30px;
}
.title_container p {
  color: #808080;
  font-size: 20px;
  margin: 18px 0;
}
.item_container button {
  background-color: #ff5acd;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.item_container i {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
}

/* end container */
/* start carousel */
.carousel {
  width: 100%;
  height: 650px;
  padding: 200px 350px;
}
.title_carousel {
  text-align: center;
}
.content_carousel {
  width: 100%;
  display: flex;
}
.item_carousel {
  width: 300px;
  height: 200px;
  margin: 70px 50px;
  text-align: center;
  transform: translateY(0px);
  transition: all 0.5s;
}
.item_carousel img {
  width: 300px;
  height: 230px;
  object-fit: contain;
}
.carousel h5 {
  color: #f55f8d;
  font-size: 24px;
}
.title_carousel h1 {
  font-size: 75px;
}
.item_carousel h1 {
  margin: 20px 0px;
}
.item_carousel p {
  color: #808080;
}
.item_carousel:hover {
  transform: translateY(-30px);
}
/* end carousel */
/* start job */

.job {
  width: 100%;
  height: 650px;
  padding: 200px 0;
}
.content_job {
  display: flex;
  width: 90%;
}
.left_job img {
  width: 725px;
  height: 480px;
  object-fit: contain;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 145px;
  margin-top: 75px;
}
.right_job {
  width: 560px;
  height: 650px;
  margin-left: 70px;
}
.right_job h5 {
  color: #f55f8d;
  font-size: 24px;
  margin-bottom: 10px;
}
.right_job h1 {
  font-size: 75px;
  margin: 15px 0px;
}
.right_job i {
  width: 25px;
  height: 25px;
  border: 2px solid #f55f8d;
  border-radius: 25px;
  text-align: center;
  line-height: 25px;
  color: #f55f8d;
  margin: 10px 8px;
}
.right_job p {
  color: #808080;
  font-size: 18px;
}
.right_job button {
  background-color: #ff5acd;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

/* end job */
/* start number */
.number {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 350px;
}
.item_number {
  text-align: center;
}
.icon_number {
  height: 80px;
  width: 80px;
  background-color: #ff5acd;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  text-align: center;
  border-radius: 40px;
  color: white;
  font-size: 40px;
  line-height: 80px;
  margin-bottom: 15px;
  margin-left: 100px;
}
.item_number p:first-of-type {
  font-size: 80px;
  font-weight: 700;
  color: #f55f8d;
}
.item_number p:last-of-type {
  font-size: 20px;
}
/* end number */
/* start features  */
.features {
  width: 100%;
  height: 720px;
  display: flex;
  overflow: hidden;
}
.left_features {
  padding-left: 350px;
  width: 50%;
  position: relative;
}
.right_features img {
  padding-top: 30px;
  height: 650px;
  max-width: 100%;
  animation: move2 5s infinite;
}
.item_left {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.item_left::after {
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  color: white;
}
.item_left:hover::after {
  opacity: 1;
}
.item_left:hover i,
.item_left:hover p,
.item_left:hover h3,
.item_left:hover words_left {
  color: #fff;
  z-index: 1;
}
.item_left p {
  font-size: 18px;
  color: #808080;
  margin-top: 10px;
}
.left_features h1 {
  font-size: 75px;
}
.left_features h3 {
  font-size: 25px;
}
.left_features h5 {
  color: #f55f8d;
  font-size: 24px;
}
.left_features i {
  font-size: 80px;
  color: #f55f8d;
}
.words_left {
  margin-left: 20px;
  z-index: 1;
}
.left2 {
  margin-left: 90px;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* end features */
/* start late work */
.Latest_Work {
  width: 100%;
  height: 650px;
  padding: 0 350px;
}
.title_work {
  text-align: center;
  margin-bottom: 25px;
}
.title_work h5 {
  color: #f55f8d;
  font-size: 24px;
  margin-bottom: 25px;
}
.title_work h1 {
  font-size: 80px;
}
.img_work {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.item_work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.item_work img {
  height: 100%;
  width: 100%;
}
.item_work1 {
  grid-column: 1 / span 2;
}
.item_work5 {
  grid-column: 1 / span 2;
}
.item_work6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.overlay_work .icon_work {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 30px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  top: 20px;
  right: 20px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.text_work {
  position: absolute;
  left: 30px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.75s;
  transform: translateY(150px);
  text-align: left;
}
.overlay_work h3 {
  font-size: 24px;
  color: white;
}
.overlay_work p {
  font-size: 20px;
  color: #333;
}
.overlay_work i {
  cursor: pointer;
}

.overlay_work {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.item_work:hover .overlay_work {
  opacity: 1;
}
.item_work:hover .icon_work {
  transform: translate(0);
}
.item_work:hover .text_work {
  transform: translate(0);
  opacity: 1;
}
/* end latest work */
/* start plan */
.plan {
  width: 100%;
  height: 750px;
  padding-top: 700px;
}
.title_plan {
  text-align: center;
}
.title_plan h5 {
  font-size: 24px;
  color: #f55f8d;
}
.title_plan h1 {
  font-size: 80px;
  margin-bottom: 60px;
}
.money_plan {
  display: flex;
}
.content_plan {
  display: flex;
  width: 100%;
  height: 700px;
  margin-left: 350px;
}
.item_plan {
  margin-right: 40px;
  padding: 35px 60px;
  height: 100%;
  width: 380px;
  border: 3px solid #00000000;
  border-radius: 8px;
  border-image: 100 round;
  transition: all 0.5s;
}
.item_plan img {
  width: 150px;
  height: 150px;
  margin-left: 40px;
}
.item_plan ul {
  margin-bottom: 20px;
}
.item_plan li {
  list-style-type: none;
  font-size: 20px;
  padding: 8px;
}
.item_plan h3 {
  font-size: 35px;
  text-align: center;
}
.item_plan i {
  color: #f55f8d;
  font-size: 15px;
  margin-right: 15px;
}
.money_plan span {
  font-size: 55px;
  color: #ff8c00;
  font-weight: 700;
}
.money_plan {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.money_plan b {
  font-size: 20px;
}
.content_plan button {
  background-color: #ff5acd;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-left: 40px;
  text-align: center;
}
.item_plan:hover {
  border-image: url(./img/br.png) 1 round;
}
